:hover {
    border: #f7f8fa;
}

.btn--small {
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
}

.btn--medium {
    height: 64px;
    width: 64px;
    background-size: 64px 64px;
}

.btn--large {
    height: 128px;
    width: 128px;
    background-size: 128px 128px;
}